

<div ng-model="details">
    <div class="container mt-4">
        <div class="mt-4">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="row no-gutter">
                <div class="col-md-4">
                   <img src="{{details.Poster}}" alt="{{details.Title}}">
                </div>
                <div class="col-md-8">
                    <h5 class="card-title">{{details.Title}}</h5>
                    <p class="card-text"> <b>Year :</b>{{details.Year}}</p>
                    <p class="card-text"> <b>Rated :</b>{{details.Rated}}</p>
                    <p class="card-text"> <b>Released Date :</b>{{details.Released}}</p>
                    <p class="card-text"> <b>Runtime:</b>{{details.Runtime}}</p>
                    <p class="card-text"> <b>Genre  :</b> {{details.Genre}}</p>
                    <p class="card-text"> <b>Director :</b> {{details.Director}}</p>
                    <p class="card-text"> <b>Writer :</b>{{details.Writer}}</p>
                    <p class="card-text"> <b>Actors :</b>{{details.Actors}}</p>
                    <p class="card-text"> <b>Plot :</b>{{details.Plot}}</p>
                    <p class="card-text"> <b>Language :</b> {{details.Language}}</p>
                    <p class="card-text"> <b>Awards :</b>{{details.Awards}}</p>
                    <p class="card-text"> <b>Metascore :</b> {{details.Metascore}}</p>
                    <p class="card-text"> <b>Imdb Rating :</b>{{details.imdbRating}}</p>
                    <p class="card-text"> <b>Imdb Votes :</b>{{details.idbVotes}}</p>
                    <p class="card-text"> <b>Imdb ID:</b> {{details.imdbID}}</p>
                    <p class="card-text"> <b>Type :</b>{{details.Type}}</p>
                    <p class="card-text"> <b>DVD:</b>{{details.DVD}}</p>
                    <p class="card-text"> <b>Box Office :</b> {{details.Boxoffice}}</p>
                    <p class="card-text"> <b>Production :</b> {{details.Production}}</p>
                    <p class="card-text"> <b>Website :</b> {{details.Website}}</p>
                    <p class="card-text"> <b>Response :</b> {{details.Response}}</p>
                </div>
            </div>
        </div>
    </div>
</div>